<br>
<div class="row">
  <button id="empezar" (click)="inicio_partida()" class="btn btn-primary btn-block"> Empezar partida </button>
  <button id="reset" (click)="reset_partida()" class="btn btn-primary btn-block"> Nueva partida </button>
</div>
<div class="row">
  <div class="col-md-4 col-sm-2"></div>
  <div class="col-md-4 col-sm-8 text-center flex-div"><h1>{{cuenta}}</h1></div>
  <div class="col-md-4 col-sm-2"></div>
</div>
<div class="row">
  <button class="btn btn-warning btn-block" (click)="disparar()">Shot!</button>
</div>
